<<<<<<< HEAD
body {
    font-family:'Noto Sans TC', sans-serif;
	text-align:justify;
}

h1,h2,h3,h4,h5,h6{
    text-transform:none;
    font-family:'Noto Sans TC', sans-serif;
}
	
.mb-0, .my-0 {
    margin-bottom: 0!important;
}

h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
	
}

.subheading{
    text-transform:none;
	font-family:'Noto Sans TC', sans-serif;
	font-size:1.2em;
}

.text-primary {
    color: #FF7744!important
}

.dev-icons {
    font-size: 3rem;
    color:#868e96;
}

a{
	color: #ffa07a;
	background-position:top left;
	background-repeat: repeat;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.bg-primary {
    background-color: #ffa07a!important;
	background-position:top left;
	background-repeat: repeat;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

section.resume-section {
	background-position:top left;
	background-repeat: repeat;
	background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/tree-bark.png");
}

.text-primary {
	color:#FF7744;
}

=======
body {
    font-family:'Noto Sans TC', sans-serif;
	text-align:justify;
}

h1,h2,h3,h4,h5,h6{
    text-transform:none;
    font-family:'Noto Sans TC', sans-serif;
}
	
.mb-0, .my-0 {
    margin-bottom: 0!important;
}

h1 {
    font-size: 4.5rem;
    line-height: 5.5rem;
	
}

h1 .text-primary {
	font-size: 3rem;
}

.subheading{
	text-transform:none;
	font-family:'Noto Sans TC', sans-serif;
	font-size:1.2em;
	color:#8a8a8a;
}

.text-primary {
	color: #FF7744!important
}

a{
	color: #ffa07a;
	background-position:top left;
	background-repeat: repeat;
        background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.bg-primary {
        background-color: #ffa07a!important;
	background-position:top left;
	background-repeat: repeat;
        background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

section.resume-section {
	background-position:top left;
	background-repeat: repeat;
	background-color: #ffffff;
        background-image: url("https://www.transparenttextures.com/patterns/tree-bark.png");
}

.text-primary {
	color:#FF7744;
}

.table {
	width: 100%;
        margin-bottom: 1rem;
	border-spacing: 2px;
        border-color: #808080;
}

.twicon-taipei101:before{
	font-size: 3rem;
}

.twicon-cks-hall:before{
	font-size: 2.5rem;
}

.twicon-raohe-nm:before{
	font-size: 2.5rem;
}

.twicon-np-mus:before{
	font-size: 4.5rem;
}

.twicon-gate-cks:before{
	font-size: 4rem;
}


>>>>>>> 98948a598529d505b4058b523c54d4362eb76fff
