body {
    font-family:'Noto Sans TC', sans-serif;
	text-align:justify;
}

h1,h2,h3,h4,h5,h6{
    text-transform:none;
    font-family:'Noto Sans TC', sans-serif;
}
	
h1 {
    font-size: 5rem;
    line-height: 10rem;
}

h1 .text-primary {
    font-size: 3rem;
    letter-spacing: -0.05rem;
    line-height: 3rem;
}

.subheading{
    text-transform:none;
	font-family:'Noto Sans TC', sans-serif;
	font-size:1.2em;
}

.text-primary {
    color: #28a745!important
}
a{
	color:#20c997;
}

.bg-primary {
    background-color: #20c997!important;
}

